.error {
	color: #FF0000;
	font-size: 13px;
}

.requirefield {
	color: #FF0000;
	font-size: 13px;
}

.top-nav-bar {
	overflow: hidden;
	background-color: #FFFFFF;
	font-family: fantasy;
}

.top-nav-bar a {
	display: block;
	color: #000000;
	text-decoration: none;
	font-size: 36px;
}

input[type=text] {
	width: 50%;
	padding: 12px 20px;
	margin: 8px 10px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=number] {
	width: 50%;
	padding: 12px 20px;
	margin: 8px 10px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=date], select {
	width: 50%;
	padding: 12px 20px;
	margin: 8px 10px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=tel] {
	width: 50%;
	padding: 12px 20px;
	margin: 8px 10px;
	border: 1px solid #ccc; 
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=email] {
	width: 50%;
	padding: 12px 20px;
	margin: 8px 10px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=password] {
	width: 50%;
	padding: 12px 20px;
	margin: 8px 10px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 70%;
	background-color: #45a049;
	color: white;
	padding: 14px 20px;
	margin: 20px 75px;
	border: none; 
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

label {
	display: inline-block;
	margin-left: 20px;
	font-size: 16px;
	float: left;
}

.boxed {
	border: 2px solid silver;
	padding: 25px;
	margin: 25px;
	margin-left: 25%;
	width: 600px;
}

</style>